:root {
  --PrimaryColor: rgb(20,20,20);
  --SecondaryColor: rgb(25,25,25);
  --TextColor: rgb(240,240,240);
  --TextColorHover: rgb(40,140,255);
}
body {
  background: var(--PrimaryColor);
  position: relative;
  height: 98vh;
  width: 100%;
  overflow: hidden;
  margin: 0px;
}
.Header { 
  height: 10vh;
  width: 100%;
  z-index: 1;
  display: grid;
  place-items: center;
  background-color: var(--SecondaryColor);
}
.NavagationBar {
  height: 100%;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavagationBarLinks {
  display:flex;
}
.NavagationBarLinks >a {
  margin-left: 2vh;
  text-decoration: none;
  font-family: "Fredoka", sans-serif;
  color: var(--TextColor);
  font-weight: 300;
  font-size: 2vh;
  transition: color .2s ease-in-out;
}
.NavagationBarLinks >a:hover {
  color: var(--TextColorHover);
}
.NavagationBarTitle {
  font-family: "Fredoka", sans-serif;
  color: var(--TextColor);
  font-weight: 400;
  font-size: 3vh;
}
.MainBody {
  position: absolute;
  text-align: center;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.ContentBox {
  text-align: center;
  background-color: var(--SecondaryColor);
  border-radius: 5%;
  width: 35vw;
  height: 38vh;
  margin: 30px auto;
  padding: 10px 15px;
}
.ContentBoxTitle {
  font-family: "Fredoka", sans-serif;
  color: var(--TextColor);
  font-weight: 400;
  font-size: 4vh;
}
.ContentBoxDescription >p {
  font-family: "Fredoka", sans-serif;
  color: var(--TextColor);
  font-weight: 300;
  font-size: 2vh;
}
.ContentBoxDescription >a {
  background-color: var(--PrimaryColor);
  text-decoration: none;
  font-family: "Fredoka", sans-serif;
  color: var(--TextColor);
  font-weight: 300;
  font-size: 2vh;
  transition: color .2s ease-in-out;
  border-radius: 7%;
  padding: 5px 20px;
}
.ContentBoxDescription >a:hover {
  color: var(--TextColorHover);
  border-color: var(--TextColorHover);
}
.GameScroll {
  background-color: var(--SecondaryColor);
  border-radius: 5%;
  width: 75vw;
  height: 75vh;
  margin: 30px auto;
  padding: 5px 20px;
}
.GameScroll >a {
  text-decoration: none;
}
.GameBox {
  border: 1px solid rgb(240,240,240);
  margin-left: 2vh;
  border-radius: 5%;
  width: 11vw;
  height: 30vh;
  margin: 15px;
  font-family: "Fredoka", sans-serif;
  color: var(--TextColor);
}
.GameBoxIcon {
  width: 3vh;
  height: 3vh;
  border-radius: 5%;
}
.GameBoxTitle {
  font-weight: 400;
  font-size: 3vh;
  text-decoration: none;
}
.GameBoxDescription {
  font-weight: 300;
  font-size: 2vh;
  text-decoration: none;
}
#particles-js {
  background-color: var(--PrimaryColor);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 100%;
}