:root {
  --PrimaryColor: rgb(17,17,17);
  --SecondaryColor: rgb(22,22,22);
  --Tertiary: rgb(240,240,240);
  --Hover: rgb(40,140,255);
  --Font: "Fredoka";
}
body {
  background: var(--PrimaryColor);
  position: relative;
  height: 98vh;
  width: 100%;
  overflow: hidden;
  margin: 0px;
}
.Header { 
  height: 10vh;
  width: 100%;
  z-index: 1;
  display: grid;
  place-items: center;
  background-color: var(--SecondaryColor);
}
.NavagationBar {
  height: 100%;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavagationBarLinks {
  display:flex;
}
.NavagationBarLinks >a {
  margin-left: 2vh;
  text-decoration: none;
  font-family: var(--Font), sans-serif;
  color: var(--Tertiary);
  font-weight: 300;
  font-size: 2vh;
  transition: color .2s ease-in-out;
}
.NavagationBarLinks >a:hover {
  color: var(--Hover);
}
.NavagationBarTitle {
  font-family: var(--Font), sans-serif;
  color: var(--Tertiary);
  font-weight: 400;
  font-size: 3vh;
}
.MainBody {
  position: absolute;
  text-align: center;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.ContentBox {
  text-align: center;
  background-color: var(--SecondaryColor);
  border-radius: 5%;
  width: 35vw;
  height: 38vh;
  margin: 30px auto;
  padding: 10px 15px;
}
.ContentBoxTitle {
  font-family: var(--Font), sans-serif;
  color: var(--Tertiary);
  font-weight: 400;
  font-size: 4vh;
}
.ContentBoxDescription >p {
  font-family: var(--Font), sans-serif;
  color: var(--Tertiary);
  font-weight: 300;
  font-size: 2vh;
}
.ContentBoxDescription >a {
  background-color: var(--PrimaryColor);
  text-decoration: none;
  font-family: var(--Font), sans-serif;
  color: var(--Tertiary);
  font-weight: 300;
  font-size: 2vh;
  transition: color .2s ease-in-out;
  border-radius: 7%;
  padding: 5px 20px;
}
.GameScroll {
  background-color: var(--SecondaryColor);
  border-radius: 5%;
  width: 75vw;
  height: 75vh;
  margin: 30px auto;
  padding: 5px 20px;
}
.GameScroll >a {
  display: block;
  text-decoration: none;
  font-family: var(--Font), sans-serif;
  width: 17vh;
  padding: 20px;
  margin: 10px;
  border: 2px solid var(--Tertiary);
  color: var(--Tertiary);
  border-radius: 5%;
  transition: color .2s ease-in-out;
}
.GameBoxIcon {
  border-radius: 5%;
}
.GameBoxIcon >img {
  width: 10vh;
  height: 10vh;
}
.GameBoxTitle {
  font-weight: 400;
  font-size: 3vh;
  text-decoration: none;
}
.GameBoxDescription {
  font-weight: 300;
  font-size: 2vh;
  text-decoration: none;
}
#particles-js {
  background-color: var(--PrimaryColor);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 100%;
}